.facts {
  padding-top: 180px;
  position: relative;
  overflow: hidden;
  background-color: var(--light-color);

  &::before {
    content: '';
    position: absolute;
    left: -9px;
    top: -195px;
    width: 570px;
    height: 1065px;
    background: url('../img/facts_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    padding-bottom: 90px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(4, 148px);
    gap: 48px;
    justify-content: center;

  }

  &__box-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--ebony-color);
    position: relative;
    margin: 0;

    &::after {
      content: url('../img/facts/ellipse-1.svg');
      position: absolute;
      left: 50%;
      top: 58%;
      transform: translate(-50%, -50%);
    }

    &--red::after {
      content: url('../img/facts/ellipse-3.svg');
    }

    &--blue::after {
      content: url('../img/facts/ellipse-5.svg');
    }

    &--green::after {
      content: url('../img/facts/ellipse-7.svg');
    }

    &::before {
      content: url('../img/facts/ellipse-2.svg');
      position: absolute;
      left: 50%;
      top: 58%;
      transform: translate(-50%, -50%);
    }

    &--red::before {
      content: url('../img/facts/ellipse-4.svg');
    }

    &--blue::before {
      content: url('../img/facts/ellipse-6.svg');
    }
  }

  &__box-descr {
    padding-top: 63px;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--ebony-color);
  }
}
