.find-us {
  padding-top: 12px;
  padding-bottom: 115px;
  background-color: var(--athens-color);

  @include small-tablet {
    padding-bottom: 85px;
  }

  @include mobile {
    padding-bottom: 35px;
  }

  &__title {
    padding-bottom: 15px;
  }

  &__box {
    display: flex;
    justify-content: center;
    gap: 24px;

  }

  &__link svg {
    width: 32px;
    height: 32px;
    fill: var(--storm-color);
    transition: all 0.3s ease 0s;

    &:hover {
      fill: var(--primary-color);
    }
  }
}