.footer {
  background-color: var(--ebony-color);
  padding: 80px 0;

  @include tablet {
    padding: 30px 0;
  }

  &__top {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 242px;

    @include tablet {
      gap: 40px;
      padding-bottom: 28px;
    }

    @include small-tablet {
      row-gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__top-social {
    display: flex;
    flex-direction: column;
    padding-bottom: 49px;

    @include small-tablet {
      padding-bottom: 29px;
    }

    @include mobile {
      padding-bottom: 0px;
    }

  }

  &__social-logo {
    padding-right: 44px;

    @include tablet {
      padding-right: 24px;
    }

    @include mobile {
      padding-right: 0px;
    }
  }

  &__social-box {
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    gap: 16px;

    @media screen and (max-width:350px) {
      gap: 10px;
    }
  }

  &__social-icon {
    object-fit: cover;
    width: 24px;
    height: 24px;
  }

  &__top-descr {
    font-size: 14px;
    line-height: 150%;
    color: var(--light-color);
    opacity: 0.6;
  }


  &__top-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--light-color);
    padding-bottom: 23px;
    margin: 0;

  }

  &__top-text {
    font-size: 12px;
    line-height: 150%;
    opacity: 0.6;
    color: var(--light-color);
  }

  &__bot {
    display: flex;
    gap: 126px;
    padding-bottom: 58px;

    @include tablet {
      gap: 40px;
      padding-bottom: 28px;
    }

    @include mobile {
      gap: 20px;
      flex-wrap: wrap;
    }
  }


  &__item {
    &:not(:last-child) {
      padding-bottom: 4px;
    }
  }

  &__item-descr {
    margin-bottom: 14px;
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 160%;
    color: rgba(#ffffff, .6);


    &--accent {
      color: rgba(#ffffff, 1)
    }

    &:hover {
      color: var(--light-color);
    }
  }



  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      row-gap: 40px;
    }
  }

  &__copyright-descr {
    font-size: 12px;
    line-height: 150%;
    color: var(--light-color);

    & span {
      position: relative;
      padding-left: 24px;

      &::after {
        content: url(../img/heart.svg);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 4px;
      }
    }
  }

  &__copyright-btn-box {
    display: flex;
    align-items: center;

    @include mobile {}

  }



  &__copyright-btn {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    color: var(--light-color);
    text-transform: uppercase;
    padding-right: 56px;

    &::after {
      content: url(../img/up-btn.svg);
      position: absolute;
      right: 0;
      top: -100%;
      width: 40px;
      height: 40px;
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

.footer-form {
  position: relative;
  padding-bottom: 16px;

  &__input {

    width: 445px;
    height: 44px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    color: var(--light-color);

    @include tablet {
      width: 340px;
    }


    &::placeholder {
      font-size: 14px;
      line-height: 150%;
      color: var(--light-color);
      opacity: 0.6;
    }
  }

  &__box {
    max-width: 495px;
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 10%;
    top: 0;
    width: 131px;
    height: 44px;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 0 3px 3px 0;

    @include mobile {
      right: 0;
    }
  }
}

.footer-address {
  font-style: normal;
}

.footer-nav {
  display: flex;
  gap: 126px;

  @include tablet {
    gap: 40px;
  }
}
