.hero {
  background-color: var(--grey-color);
  background-image: url('../img/hero_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    max-width: 577px;
    padding-top: 221px;
    padding-bottom: 353px;
  }

  &__btn {
    display: flex;
    gap: 27px;
  }
}

.hero-contacts {
  background-color: var(--light-color);
  background: url('../img/contacts/contacts_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 187px;
}