.hero {


  &__content {
    max-width: 577px;
    padding-top: 221px;
    padding-bottom: 353px;
    padding-left: 15px;

    @include big-desktop {
      padding-left: 120px;

    }

    @include small-tablet {
      padding-left: 0px;
      padding-top: 80px;
      padding-bottom: 120px;
    }
  }

  &__btn {
    display: flex;
    gap: 27px;

    @include small-tablet {
      flex-direction: column;

    }
  }

  &__bar {
    width: 100%;
    height: 2px;
    overflow: hidden;
    border-radius: 100px;
    background-color: rgba(#fff, 0.3);
    position: relative;
    transition: all 0.3s ease 0s;
    margin-top: 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      border-radius: 100px;
    }
  }

  &__pagination {
    counter-reset: pagination;
    display: flex;
    left: calc((100% - 1260px) / 2) !important;
    bottom: -40px !important;

    @include big-desktop {
      left: calc((100% - 998px) / 2) !important;
    }

    @include tablet {
      display: none;
    }

    .swiper-pagination-bullet {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      width: 178px;
      height: auto;
      background-color: transparent;
      opacity: 1;
      text-align: left;

      &::before {
        counter-increment: pagination;
        content: '0' counter(pagination);
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: rgba(#fff, 0.3);
        transition: all 0.3s ease 0s;

      }

      &-active {
        .hero__bar::after {
          background-color: var(--light-color);
        }

        &::before {
          color: var(--light-color);
        }
      }

      &::after {
        display: none;

      }
    }
  }
}

.hero-contacts {
  background-color: var(--light-color);
  background: url('../img/contacts/contacts_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 187px;
}


.hero-slider {
  overflow: hidden;
  width: 100%;

}


.hero-slide {
  background-color: var(--grey-color);
  background-image: url('../img/hero_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__next {
  position: absolute;
  right: 25px;
  top: 61%;
  z-index: 30;
  background-color: var(--light-color);

  @include small-tablet {
    opacity: 0;
    visibility: hidden;
  }
}

.hero__prev {
  position: absolute;
  left: 25px;
  top: 61%;
  z-index: 30;
  background-color: var(--light-color);

  @include small-tablet {
    opacity: 0;
    visibility: hidden;
  }
}
