.history {
  padding-top: 47px;
  background-color: var(--athens-color);
  padding-bottom: 80px;

  @include small-tablet {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  &__top {
    display: flex;
    align-items: center;
    padding-bottom: 58px;
    justify-content: space-between;

    & .slider-nav {
      top: 22px;
    }

  }

  &__title {
    margin: 0;
  }

  &__slider {
    display: grid;
    grid-template-columns: 420px 820px;

    @include tablet {
      grid-template-columns: 320px 620px;
    }

    @media screen and (max-width: 913px) {
      grid-template-columns: 270px 470px;
    }

    @media screen and (max-width: 760px) {
      grid-template-columns: 370px;
    }

    @media screen and (max-width: 375px) {
      grid-template-columns: 320px;
    }

    @media screen and (max-width: 335px) {
      grid-template-columns: 300px;
    }

  }

  &__slider-nav {
    padding-left: 40px;
    padding-right: 30px;

    @media screen and (max-width: 760px) {
      display: none;
    }

    & .swiper-wrapper {
      display: flex;
      flex-direction: column;
    }

    & .swiper-slide {
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: var(--manatee-color);
      cursor: pointer;
      padding-bottom: 20px;
      position: relative;

    }

    & .swiper-slide-thumb-active {
      color: var(--primary-color);
    }



    & .swiper-slide span {
      content: '';
      position: absolute;
      left: -40px;
      top: 25%;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: var(--manatee-color);

      &:last-child::after {}

      &:first-child::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -15px;
        width: 1px;
        height: 10px;
        background-color: var(--manatee-color);
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
        width: 1px;
        height: 40px;
        background-color: var(--manatee-color);

      }




    }

    & .swiper-slide-thumb-active span {

      background-color: var(--primary-color);
    }

  }

  &__slider-body {

    & .swiper-slide img {
      padding-bottom: 17px;
    }

    & .swiper-slide p {
      font-size: 16px;
      line-height: 160%;
      color: var(--grey-color);
    }
  }
}


.last::after {
  height: 10px !important;
}