.map {
  background-color: var(--athens-color);

  &__container {
    background: url('../img/page-about/map.svg');
    background-position: bottom 110px left 5px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 883px;

    @include tablet {
      min-height: 783px;
    }

    @include small-tablet {
      min-height: 683px;
    }

    @include mobile {
      min-height: 383px;
    }
  }

  &__title {
    padding-top: 81px;

    @include mobile {
      padding-top: 31px;
    }

    margin: 0;

  }
}

.container {}

.title {}

.title--center {}