.mission {
  background-color: var(--light-color);

  &--dark {
    padding-top: 81px;
    padding-bottom: 20px;
    background-color: var(--ebony-color);
  }

  &--benefits {
    padding-bottom: 126px;

    @include mobile {
      padding-bottom: 30px;
    }
  }

  &__descr {
    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__box {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc((var(--mission-gap))*2);
    margin-bottom: -6px;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__col {
    @include flex-all-center;
    flex-direction: column;
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      right: calc(-1 * var(--mission-gap));
      top: 0;
      background-color: var(--storm-color);
      width: 1px;
      height: 188px;
      opacity: .3;
    }
  }

  &__subtitle {
    margin: 22px 0 10px;
  }

  &__col-descr {

    @include tablet {
      max-width: 285px;
    }
  }

  &__btn {
    position: relative;
    z-index: 5;
    left: 50%;
    top: 46px;
    transform: translateX(-50%);
    padding: 16px 112px;

    @include small-tablet {
      padding: 16px 33px;
    }
  }
}