.offer {
  padding: 120px 0 180px;
  background-color: var(--light-color);

  @include tablet {
    padding: 80px 0 120px;
  }

  @include small-tablet {
    padding: 60px 0 80px;
  }

  @include mobile {
    padding: 30px 0 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    @media screen and (max-width: 1020px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }


  }

  &__img {
    display: block;
    grid-column: 7 span;


  }

  &__content {
    grid-column: 5 span;
    padding-left: 75px;

    @include mobile {
      padding-left: 0px;
    }
  }



  &__accardion-title {
    font-family: 'Muller';
    margin: 0;
    font-weight: 900;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 55px;

    @include mobile {
      padding-bottom: 25px;
    }
  }

  &__accardion {
    padding-left: 44px;
  }

  &__accardion-btn {
    position: relative;
    margin: 0;
    text-align: left;
    padding: 0;


    &::after {
      content: '';
      position: absolute;
      left: -44px;
      top: 25.5%;
      width: 22px;
      height: 2px;
      background-color: var(--primary-color);

    }

    &::before {
      content: '';
      position: absolute;
      left: -43px;
      top: 25.5%;
      width: 22px;
      height: 2px;
      transform: rotate(90deg);
      background-color: var(--primary-color);
      transition: all 0.5s ease-in-out 0s;

    }
  }

  &__accardion-content {
    margin: 0;
    padding: 0;


  }
}

.offer__accardion.is-open .offer__accardion-content {
  padding: 0;
  padding-top: 14px;
}

.offer__accardion.is-open .offer__accardion-btn::before {
  opacity: 0;
}

.accordion-1 {
  padding-bottom: 24px;
}