.video-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;

  @include tablet {
    height: 400px;
  }

  @include mobile {
    height: 250px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(#1e212c, 0.6);
    border-radius: 4px;
    transition: all 0.3s ease 0s;



  }

  &--played {
    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }



  &__content {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  &__play {
    @include flex-all-center;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: all 0.3s ease 0s;

    &--played {
      opacity: 0;
      visibility: hidden;
    }

    & svg {
      margin-left: 8px;
      height: 26px;
      width: 26px;
      fill: var(--light-color);
    }

    &:hover {

      &::before {
        content: '';
        position: absolute;
        left: -16%;
        top: -15%;
        width: 105px;
        height: 105px;
        background: url('../img/page-services/scheme-hover_bg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }

  }


}
