<section class="mission mission--benefits section-offset">
  <div class="container">
    <h2 class="title title--center">Employee benefits</h2>
    <p class="descr descr--center descr--big">There’s always room for talent.</p>

    <div class="mission__box">
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#benefits_01"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center">Training</h3>
        <p class="descr descr--center mission__col-descr descr--small">Culpa nostrud commodo ea consequat aliquip
          reprehenderit. Veniam velit nostrud aliquip sunt.</p>

      </div>
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#benefits_03"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center">Professional Growth</h3>
        <p class="descr descr--center descr--small mission__col-descr">Anim reprehenderit sint voluptate exercitation
          adipisicing laborum adipisicing. Minim empor est ea.</p>

      </div>
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#benefits_02"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center">Growing Salary</h3>
        <p class="descr descr--center descr--small mission__col-descr">Sit veniam aute dolore adipisicing nulla sit
          culpa. Minim mollit voluptate ullamco proident ea ad.</p>

      </div>

    </div>


  </div>
</section>
