<section class="categories">
  <div class="container">
    <h2 class="title title--center categories__title">Categories</h2>

    <div class="categories__tabs categories-tabs">

      <ul class="categories-tabs__nav tabs-nav list-reset">

        <li class="tabs-nav__item">
          <button class="tabs-nav__btn btn-reset active" data-path="all">All News</button>
        </li>

        <li class="tabs-nav__item">
          <button class="tabs-nav__btn btn-reset" data-path="company">Company News</button>
        </li>

        <li class="tabs-nav__item">
          <button class="tabs-nav__btn btn-reset" data-path="innov">Innovation</button>
        </li>

        <li class="tabs-nav__item">
          <button class="tabs-nav__btn btn-reset" data-path="indust">Industry News</button>
        </li>

        <li class="tabs-nav__item">
          <button class="tabs-nav__btn btn-reset" data-path="expert">Expert Tips</button>
        </li>

        <li class="tabs-nav__item">
          <button class="tabs-nav__btn btn-reset" data-path="marketing">Marketing</button>
        </li>

      </ul>

      <ul class="categories-tabs__content tabs-body list-reset">

        <li class="tabs-body__item active" data-target="indust">
          <a href="news-inner.html" target="_blank" class="tabs-body__link">
            <img src="img/page-news/news-tabs_01.jpg" alt="" class="tabs-body__img" aria-label="hiden">
            <div class="tabs-body__content">
              <h3 class="tabs-body__title subtitle">How to Build Climate Change-Resilient Infrastructure</h3>
              <div class="tabs-body__caption">
                <span class="tabs-body__news">Industry News</span>
                <span class="tabs-body__data">June 24, 2020</span>
                <span class="tabs-body__coments">4 comments</span>
              </div>
              <p class="tabs-body__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
                Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
                Ipsumgsdgsdgsdgds aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
              </p>
            </div>
          </a>
        </li>

        <li class="tabs-body__item active" data-target="innov">
          <a href="news-inner.html" target="_blank" class="tabs-body__link">
            <img src="img/page-news/news-tabs_02.jpg" alt="" class="tabs-body__img" aria-label="hiden">
            <div class="tabs-body__content">
              <h3 class="tabs-body__title subtitle">How Construction Can Help Itself</h3>
              <div class="tabs-body__caption">
                <span class="tabs-body__news">Innovation</span>
                <span class="tabs-body__data">June 12, 2020</span>
                <span class="tabs-body__coments">No comments</span>
              </div>
              <p class="tabs-body__descr">Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat
                vitae scelerisque. Rhoncus augue faucibus maecenas lacus
                Ipsumgsdgsdgsdgds aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
              </p>
            </div>
          </a>
        </li>

        <li class="tabs-body__item active" data-target="expert">
          <a href="news-inner.html" target="_blank" class="tabs-body__link">
            <img src="img/page-news/news-tabs_03.jpg" alt="" class="tabs-body__img" aria-label="hiden">
            <div class="tabs-body__content">
              <h3 class="tabs-body__title subtitle">The Difference Between a Digger and an Excavator</h3>
              <div class="tabs-body__caption">
                <span class="tabs-body__news">Expert Tips</span>
                <span class="tabs-body__data">May 16, 2020</span>
                <span class="tabs-body__coments">No comments</span>
              </div>
              <p class="tabs-body__descr">Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer
                duis
                et nulla lobortis cursus. Viverra erat sollicitudin praesent viverra
                Ipsumgsdgsdgsdgds aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
              </p>
            </div>
          </a>
        </li>

        <li class="tabs-body__item active" data-target="expert">
          <a href="news-inner.html" target="_blank" class="tabs-body__link">
            <img src="img/page-news/news-tabs_04.jpg" alt="" class="tabs-body__img" aria-label="hiden">
            <div class="tabs-body__content">
              <h3 class="tabs-body__title subtitle">Building Construction Hand Tools</h3>
              <div class="tabs-body__caption">
                <span class="tabs-body__news">Expert Tips</span>
                <span class="tabs-body__data">February 25, 2020</span>
                <span class="tabs-body__coments">1 comment</span>
              </div>
              <p class="tabs-body__descr">Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id
                dolor, tristique massa. Fames lobortis orci rutrum bibendum integer
                Ipsumgsdgsdgsdgds aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
              </p>
            </div>
          </a>
        </li>

        <li class="tabs-body__item active" data-target="indust">
          <a href="news-inner.html" target="_blank" class="tabs-body__link">
            <img src="img/page-news/news-tabs_05.jpg" alt="" class="tabs-body__img" aria-label="hiden">
            <div class="tabs-body__content">
              <h3 class="tabs-body__title subtitle">Top 10 Construction Trends</h3>
              <div class="tabs-body__caption">
                <span class="tabs-body__news">Industry News</span>
                <span class="tabs-body__data">January 14, 2020</span>
                <span class="tabs-body__coments">No comments</span>
              </div>
              <p class="tabs-body__descr">Dignissim sed enim, eleifend morbi condimentum. Congue id quis vulputate
                dignissim eget. Ac ullamcorper nunc habitasse enim interdum platea
                Ipsumgsdgsdgsdgds aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
              </p>
            </div>
          </a>
        </li>

        <li class="tabs-body__item active" data-target="company">
          <a href="news-inner.html" target="_blank" class="tabs-body__link">
            <img src="img/page-news/news-tabs_06.jpg" alt="" class="tabs-body__img" aria-label="hiden">
            <div class="tabs-body__content">
              <h3 class="tabs-body__title subtitle">Types of Flooring Materials</h3>
              <div class="tabs-body__caption">
                <span class="tabs-body__news">Company News</span>
                <span class="tabs-body__data">December 1, 2019</span>
                <span class="tabs-body__coments">No comments</span>
              </div>
              <p class="tabs-body__descr">Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et mauris,
                aenean. Vel arcu amet in sem parturient integer duis et nulla
                Ipsumgsdgsdgsdgds aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
                aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis
              </p>
            </div>
          </a>
        </li>

      </ul>

      <div class="categories-tabs__pagination pagination">
        <button class="btn-reset pagination__btn active">1</button>
        <button class="btn-reset pagination__btn">2</button>
        <button class="btn-reset pagination__btn">3</button>
        <button class="btn-reset pagination__btn">4</button>
        <button class="btn-reset pagination__btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#right"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>

</section>
