<section class="contact">
  <div class="container contact__container">
    <ul class="list-reset contact__list">
      <li class="contact__item">
        <div class="contact__item-content">
          <span class="contact__item-city">New York</span>
          <span class="contact__item-time">Full Time</span>
          <h3 class="contact__item-title subtitle">Heavy Equipment Operator</h3>
        </div>

        <a href="#" class="contact__item-btn btn btn--stroke-primary">Apply now</a>
      </li>

      <li class="contact__item">
        <div class="contact__item-content">
          <span class="contact__item-city">San Francisco</span>
          <span class="contact__item-time">Full Time</span>
          <h3 class="contact__item-title subtitle">Financial Compliance Analyst</h3>
        </div>

        <a href="#" class="contact__item-btn btn btn--stroke-primary">Apply now</a>
      </li>

      <li class="contact__item">
        <div class="contact__item-content">
          <span class="contact__item-city">New Jersey</span>
          <span class="contact__item-time">Full Time</span>
          <h3 class="contact__item-title subtitle">Project Manager - Buildings</h3>
        </div>

        <a href="#" class="contact__item-btn btn btn--stroke-primary">Apply now</a>
      </li>

      <li class="contact__item">
        <div class="contact__item-content">
          <span class="contact__item-city">New York</span>
          <span class="contact__item-time">Part Time</span>
          <h3 class="contact__item-title subtitle">Environment Specialist</h3>
        </div>

        <a href="#" class="contact__item-btn btn btn--stroke-primary">Apply now</a>
      </li>

      <li class="contact__item">
        <div class="contact__item-content">
          <span class="contact__item-city">New York</span>
          <span class="contact__item-time">Full Time</span>
          <h3 class="contact__item-title subtitle">Accountant</h3>
        </div>

        <a href="#" class="contact__item-btn btn btn--stroke-primary">Apply now</a>
      </li>
    </ul>

    <div class="contact__box">
      <h2 class="contact__title subtitle subtitle--big">Didn’t find what you were looking for?</h2>
      <div class="contact__descr descr descr--big">Send your CV or subscribe to our newsletter to receive information
        about new vacancies.
      </div>
      <div class="contact__btn-group">
        <button class="btn-reset btn btn--stroke-primary contact__btn" data-graph-path="1">subscribe</button>
        <button class="btn-reset btn btn--fill contact__btn" data-graph-path="2">send cv</button>
      </div>
    </div>


  </div>
</section>
