<section class="contacts-form">
  <div class="container">
    <h2 class="contacts-form__title title title--center">
      Contact us
    </h2>
    <div class="contacts-form__descr descr descr--center descr--big">Please complete the form. Detailed information will
      help us to make a tuned offer.</div>
    <div class="contacts-form__box">
      <img src="img/contacts/contacts-content-img_01.jpg" alt="" class="contacts-form__img">
      <form id="form-3" action="" class="contacts-form__form">
        <label class=" contacts-form__label">
          <span class=" contacts-form__caption">Name*</span>
          <input type="text" name="Name" class="input-reset  contacts-form__input input-name" placeholder="Your name">
        </label>
        <label class=" contacts-form__label">
          <span class=" contacts-form__caption">I am interested in</span>
          <select name="Location" class="input-reset custom-select  contacts-form__input">
            <option value="Interior Design">Interior Design</option>
            <option value="Construction">Construction</option>
            <option value="Project Development">Project Development</option>
            <option value="Repairs">Repairs</option>
          </select>
        </label>
        <label class=" contacts-form__label">
          <span class=" contacts-form__caption">Phone*</span>
          <input type="tel" name="Phone" class="input-reset  contacts-form__input input-tel"
            placeholder="Your phone number">
        </label>
        <label class=" contacts-form__label">
          <span class=" contacts-form__caption">Location*</span>
          <select name="Location" class="input-reset custom-select contacts-form__input">
            <option value="New York">New York</option>
            <option value="New Jersey">New Jersey</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Detroit">Detroit</option>
          </select>
        </label>
        <label class=" contacts-form__label">
          <span class=" contacts-form__caption">Email</span>
          <input type="email" name="Email" class="input-reset contacts-form__input input-email"
            placeholder="Your working email">
        </label>

        <div class=" contacts-form__label">
          <span class=" contacts-form__caption contacts-form__caption--radio">Preferred contact method</span>
          <div class="contacts-form__radio-box">
            <div class="contacts-form__radio-item">
              <input id="radio-01" type="radio" name="radio"
                class="input-reset custom-radio contacts-form__radio input-radio" placeholder="Your working email"
                value="Phone" checked>
              <label for="radio-01" class="contacts-form__radio-caption">Phone</label>
            </div>
            <div class="contacts-form__radio-item">
              <input id="radio-02" type="radio" name="radio"
                class="input-reset custom-radio contacts-form__radio input-radio" placeholder="Your working email"
                value="Email">
              <label for="radio-02" class="contacts-form__radio-caption">Email</label>
            </div>
            <div class="contacts-form__radio-item">
              <input id="radio-03" type="radio" name="radio"
                class="input-reset custom-radio contacts-form__radio input-radio" placeholder="Your working email"
                value="Viber">
              <label for="radio-03" class="contacts-form__radio-caption">Viber</label>
            </div>
          </div>
        </div>

        <label class=" contacts-form__label contacts-form__label--big">
          <span class=" contacts-form__caption">Message*</span>
          <textarea class="input-reset  contacts-form__input contacts-form__input--big input-message"
            placeholder="Your message"></textarea>
        </label>
        <label class="custom-checkbox form-request__label">
          <input type="checkbox" name="checkbox" class="input-reset custom-checkbox__input" checked>
          <span class="custom-checkbox__content">I agree to receive communications from Createx Construction
            Bureau.</span>
        </label>
        <button class="btn btn-reset btn--fill contacts-form__btn" type="submit">send request</button>
      </form>
    </div>
  </div>
</section>
