<section class="facts">
  <div class="container">
    <h2 class="facts__title title title--center">Some facts and figures</h2>
    <div class="facts__box">
      <div class="fact__box-item">
        <h3 class="facts__box-title">98%</h3>
        <p class="facts__box-descr">Totally satisfied clients</p>
      </div>
      <div class="fact__box-item">
        <h3 class="facts__box-title facts__box-title--red">20</h3>
        <p class="facts__box-descr">Years of experience</p>
      </div>
      <div class="fact__box-item">
        <h3 class="facts__box-title facts__box-title--blue">9452</h3>
        <p class="facts__box-descr">Working hours spent</p>
      </div>
      <div class="fact__box-item">
        <h3 class="facts__box-title facts__box-title--green">100%</h3>
        <p class="facts__box-descr">Succeeded projects</p>
      </div>




    </div>

  </div>
</section>
