<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__top-social">

        <div class="footer__social-box">
          <a target="_blank" aria-label="Link logo" class="footer__social-logo" href="index.html"><img
              src="img/footer-logo.svg" alt=""></a>
          <a target="_blank" aria-label="whatsapp" class="footer__social-icon" href="https://www.whatsapp.com/"> <img
              src="img/social/whatsapp.svg" alt="whatsapp"></a>
          <a target="_blank" aria-label="messanger" class="footer__social-icon" href="https://www.messenger.com/"><img
              src="img/social/messanger.svg" alt="messanger"></a>
          <a target="_blank" aria-label="facebook" class="footer__social-icon" href="https://www.facebook.com/"><img
              src="img/social/facebook.svg" alt="facebook"></a>
          <a target="_blank" aria-label="twitter" class="footer__social-icon" href="https://www.twitter.com/"><img
              src="img/social/twitter.svg" alt="twitter"></a>
          <a target="_blank" aria-label="youtube" class="footer__social-icon" href="https://www.youtube.com/"> <img
              src="img/social/youtube.svg" alt="youtube"></a>
        </div>
        <div class="footer__top-descr">
          Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are
          proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for
          construction sphere.
        </div>
      </div>

      <div class="footer__top-subscribe">
        <h3 class="footer__top-title">Let’s stay in touch</h3>
        <form action="#" class="footer-form">
          <div class="footer-form__box">
            <input type="email" name="email" class="input-reset footer-form__input" placeholder="Your email address ">
            <button class="footer-form__btn btn-reset btn btn--fill">subscribe</button>
          </div>
        </form>
        <div class="footer__top-text">
          *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
        </div>
      </div>
    </div>

    <div class="footer__bot">
      <address class="footer-address">
        <ul class="footer__list list-reset">
          <li class="footer__item footer__item-descr" aria-label="list title">Head office</li>
          <li class="footer__item"><a href="#" class="footer__link"><span class="footer__link--accent">Address:</span>
              8502 Preston Rd. Inglewood, New York</a></li>
          <li class="footer__item"><a href="tel:4055550128" class="footer__link"><span
                class="footer__link--accent">Call:</span>
              (405) 555-0128</a></li>
          <li class="footer__item"><a href="mailto:hello@createx.com" class="footer__link"><span
                class="footer__link--accent">Email:</span>
              hello@createx.com</a></li>
        </ul>
      </address>
      <nav class="footer-nav" title="Secondary navigation">
        <ul class="footer__list list-reset">
          <li class="footer__item footer__item-descr" aria-label="list title">Who we are</li>
          <li class="footer__item"><a href="about.html" class="footer__link">About Us</a></li>
          <li class="footer__item"><a href="positions.html" class="footer__link">Available Positions</a></li>
          <li class="footer__item"><a href="contacts.html" class="footer__link">Contacts</a></li>
        </ul>

        <ul class="footer__list list-reset">
          <li class="footer__item footer__item-descr" aria-label="list title">Our experience</li>
          <li class="footer__item"><a href="services.html" class="footer__link">Services</a></li>
          <li class="footer__item"><a href="work.html" class="footer__link">Work</a></li>
          <li class="footer__item"><a href="news.html" class="footer__link">News</a></li>
        </ul>
      </nav>

    </div>

    <div class="footer__copyright">
      <div class="footer__copyright-descr">
        © All rights reserved. Made with <span> by</span> Createx Studio
      </div>
      <button class="btn-reset footer__copyright-btn">go to top </button>
    </div>
  </div>
</footer>
