<section class="form-request">
  <div class="container form-request__container">


    <form action="#" class="form form-request__form">
      <h2 class="form-request__title subtitle subtitle--center subtitle--big ">A quick way to discuss details
      </h2>

      <div class="form__content form-request__content">
        <label class=" form-request__label">
          <span class="form__label-caption form-request__label-caption">Name*</span>
          <input type="text" name="Name" class="input-reset  form-request__input" placeholder="Your name">
        </label>
        <label class=" form-request__label">
          <span class="form__label-caption form-request__label-caption">Phone*</span>
          <input type="tel" name="Phone" class="input-reset  form-request__input" placeholder="Your phone number">
        </label>
        <label class=" form-request__label">
          <span class="form__label-caption form-request__label-caption">Email</span>
          <input type="email" name="Email" class="input-reset  form-request__input" placeholder="Your working email">
        </label>
        <label class="form-request__label form-request__label--big">
          <span class="form__label-caption form-request__label-caption">Message*</span>
          <textarea name="Message" class="input-reset form-request__input form-request__input--big"
            placeholder="Your message"></textarea>
        </label>
        <label class="custom-checkbox form-request__label">
          <input type="checkbox" name="checkbox" class="input-reset custom-checkbox__input">
          <span class="custom-checkbox__content">I agree to receive communications from Createx Construction
            Bureau.</span>
        </label>
        <button class="btn-reset form__btn form-request__btn btn btn--fill" type="submit">send request</button>
      </div>

    </form>
  </div>
</section>
