<section class="hero-post offset-section">
  <div class="container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item "><a href="news.html" class="breadcrumbs__link">News</a>
      <li class="breadcrumbs__item "><a class="breadcrumbs__link">How to Build Climate Change-Resilient
          Infrastructure</a>
      </li>
    </ul>

    <h1 class="hero-post__title main-title main-title--post">How to Build Climate Change-Resilient Infrastructure
    </h1>

    <div class="hero-post__bottom">
      <div class="tabs-body__caption tabs-body__caption--current">
        <span class="tabs-body__news tabs-body__news--current">Industry News</span>
        <span class="tabs-body__data tabs-body__data--current">June 24, 2020</span>
        <span class="tabs-body__coments tabs-body__coments--current">4 comments</span>
      </div>

      <div class="hero-post__social">
        <ul class="list-reset hero-post__social-list">
          <li class="hero-post__social-item">
            <a href="https://facebook.com" name="facebook" target="_blank" class="hero-post__social-link">
              <svg class="hero-post__social-icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="hero-post__social-item">
            <a href="https://linkedin.com" name="facebook" target="_blank" class="hero-post__social-link">
              <svg class="hero-post__social-icon">
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="hero-post__social-item">
            <a href="https://twitter.com" name="facebook" target="_blank" class="hero-post__social-link">
              <svg class="hero-post__social-icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>



  </div>

</section>