<section class="hero-about hero-about--inner offset-section">
  <div class="container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item "><a href="about.html" class="breadcrumbs__link">About us</a>
      </li>
      <li class="breadcrumbs__item "><a class="breadcrumbs__link">Available positions</a>
      </li>
    </ul>
    <div class="hero-services__box">
      <h1 class="hero-services__title main-title">AVAILABLE POSITIONS</h1>
      <p class="hero-services__descr main-descr">Build your career with Createx Construction Bureau.
      </p>
    </div>



  </div>

</section>
