<section class="hero-about offset-section">
  <div class="container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item "><a class="breadcrumbs__link breadcrumbs__link">About us</a>
      </li>
    </ul>
    <div class="hero-services__box">
      <h1 class="hero-services__title main-title">ABOUT US</h1>
      <p class="hero-services__descr main-descr">Createx Construction Bureau has been successfully operating in the USA
        construction market since 2000. We are proud to offer you quality construction and exemplary service.
      </p>
    </div>



  </div>

</section>
