<section class="hero-work offset-section">
  <div class="container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item "><a class="breadcrumbs__link breadcrumbs__link">Work</a>
      </li>
    </ul>
    <div class="hero-services__box">
      <h1 class="hero-services__title main-title">Our work</h1>
      <p class="hero-services__descr main-descr">Our portfolio represents 20 years of construction experience backed by
        a passion for perfect client service, quality and innovations in consctuction industry.
      </p>
    </div>



  </div>

</section>
