<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="history__title title">Our history</h2>
      <div class="slider-nav ">
        <button class="btn-reset slider-nav__btn  slider-btn history__prev">
          <svg>
            <use xlink:href="img/sprite.svg#prev-btn"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn  slider-btn history__next">
          <svg>
            <use xlink:href="img/sprite.svg#next-btn"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="history__slider">

      <div class="history__slider-left">
        <div class="swiper history__slider-nav">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><span></span>Present</div>
            <div class="swiper-slide"><span></span> March&nbsp2019</div>
            <div class="swiper-slide"><span></span> November&nbsp2018</div>
            <div class="swiper-slide"><span></span> July&nbsp2015</div>
            <div class="swiper-slide"><span></span> August&nbsp2010</div>
            <div class="swiper-slide"><span></span> February&nbsp2007</div>
            <div class="swiper-slide"><span></span> May&nbsp2004</div>
            <div class="swiper-slide"><span></span> October&nbsp2001</div>
            <div class="swiper-slide"><span class="last"></span> June&nbsp2000</div>
          </div>
        </div>
      </div>

      <div class="history__slider-right">
        <div thumbsSlider="" class="swiper history__slider-body">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
            <div class="swiper-slide">
              <img src="img/page-about/about-slider_01.jpg" />
              <p>Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae, </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
