<section class="mission section-offset">
  <div class="container">
    <h2 class="title title--center">Our core values</h2>
    <p class="descr descr--center descr--big">Our mission is to set the highest standards for construction sphere.</p>

    <div class="mission__box">
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#mission_01"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center">Quality</h3>
        <p class="descr descr--center mission__col-descr descr--small">Culpa nostrud commodo ea consequat aliquip
          reprehenderit.
          Veniam velit nostrud aliquip sunt.</p>

      </div>
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#mission_02"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center">Safety</h3>
        <p class="descr descr--center descr--small mission__col-descr">Anim reprehenderit sint voluptate exercitation
          adipisicing
          laborum adipisicing. Minim empor est ea.</p>

      </div>
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#mission_03"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center">Comfort</h3>
        <p class="descr descr--center descr--small mission__col-descr">Sit veniam aute dolore adipisicing nulla sit
          culpa. Minim
          mollit voluptate ullamco proident ea ad.</p>

      </div>

    </div>


    <form action="#" class="form">
      <h2 class="form__title subtitle subtitle--center subtitle--big ">Want to know more? Ask us a question:</h2>

      <div class="form__content">
        <label class="form__label">
          <span class="form__label-caption">Name</span>
          <input type="text" name="Name" class="input-reset form__input" placeholder="Your name">
        </label>
        <label class="form__label">
          <span class="form__label-caption">Phone</span>
          <input type="tel" name="Phone" class="input-reset form__input" placeholder="Your phone">
        </label>
        <label class="form__label form__label--big">
          <span class="form__label-caption">Message</span>
          <input type="text" name="Message" class="input-reset form__input form__input--big" placeholder="Your message">
        </label>
        <button class="btn-reset form__btn btn btn--fill" type="submit">Send</button>
      </div>

    </form>

  </div>
</section>
