<section class="mission section-offset mission--dark">
  <div class="container">
    <h2 class="title title--center title--light">Our benefits</h2>
    <p class="descr descr--center descr--big descr--light">Our mission is to set the highest standards for construction
      sphere.</p>

    <div class="mission__box">
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#mission-dark-decor_01"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center subtitle--light">Fixed Terms & Cost</h3>
        <p class="descr descr--center mission__col-descr descr--small descr--light">Culpa nostrud commodo ea consequat
          aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>

      </div>
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#mission-dark-decor_02"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center subtitle--light">Qualified Workers</h3>
        <p class="descr descr--center descr--small mission__col-descr descr--light">Anim reprehenderit sint voluptate
          exercitation adipisicing laborum adipisicing. Minim empor est ea.</p>

      </div>
      <div class="mission__col">
        <svg class="main-svg">
          <use xlink:href="img/sprite.svg#mission-dark-decor_03"></use>
        </svg>
        <h3 class="mission__subtitle subtitle subtitle--center subtitle--light">Supervision & Control</h3>
        <p class="descr descr--center descr--small mission__col-descr descr--light">Sit veniam aute dolore adipisicing
          nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</p>

      </div>

    </div>

    <a href="#" class="mission__btn btn btn-reset btn--fill">Discuss a project</a>




  </div>
</section>
