<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="1">
    <button class="btn-reset js-modal-close" aria-label="Closed modal">
      <img src="img/page-positions/cross.svg" alt="" class="close-img">
    </button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__content-title subtitle subtitle--big subtitle--center">Subscribe to our newsletter</h2>

      <form action="#" class="modal-form">
        <label class="modal-form__label">
          <span class="modal-form__caption">Name*</span>
          <input type="text" name="Name" class="input-reset modal-form__input input-name" placeholder="Your name">
        </label>
        <label class="modal-form__label">
          <span class="modal-form__caption">Email*</span>
          <input type="email" name="Email" class="input-reset  modal-form__input input-email"
            placeholder="Your working email">
        </label>
        <button class="btn btn-reset btn--fill modal-form__btn" type="submit">send</button>
      </form>
    </div>
  </div>


  <div class="graph-modal__container graph-modal__container--2" role="dialog" aria-modal="true" data-graph-target="2">
    <button class="btn-reset js-modal-close" aria-label="Закрыть модальное окно">
      <img src="img/page-positions/cross.svg" alt="" class="close-img">
    </button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__content-title subtitle subtitle--big subtitle--center">Send your CV</h2>

      <form action="#" id="form" class="modal-form">
        <label class="modal-form__label">
          <span class="modal-form__caption">Name*</span>
          <input type="text" name="Name" class="input-reset modal-form__input input-name" placeholder="Your name">
        </label>
        <label class="modal-form__label">
          <span class="modal-form__caption">Location*</span>
          <select name="Location" class="input-reset custom-select modal-form__input input-select">
            <option value="New York">New York</option>
            <option value="New Jersy">New Jersy</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Detroit">Detroit</option>
          </select>
        </label>
        <label class="modal-form__label">
          <span class="modal-form__caption">Phone*</span>
          <input type="tel" name="Phone" class="input-reset modal-form__input input-tel"
            placeholder="Your phone number">
        </label>
        <label class="modal-form__label">
          <span class="modal-form__caption">Email*</span>
          <input type="email" name="Email" class="input-reset  modal-form__input input-email"
            placeholder="Your working email">
        </label>
        <label class="modal-form__label">
          <span class="modal-form__caption">Сovering letter</span>
          <textarea class="input-reset  modal-form__input modal-form__input--big "
            placeholder="Your covering letter"></textarea>
        </label>
        <label class="modal-form__label">

          <input type="file" name="file" class="input-reset  modal-form__input visually-hidden ">
          <div class="modal-form__caption modal-form__caption--start input-file">Attach your CV*</div>
        </label>
        <button class="btn btn-reset btn--fill modal-form__btn" type="submit">send</button>
      </form>
    </div>
  </div>

</div>
