<section class="news-section ">
  <div class="container">
    <h2 class="news-section__title title title--center">Recent news</h2>
    <div class="news-section__row">
      <div class="news-section__item">
        <img src="img/news/news_01.svg" alt="builder builds" class="news-section__img news-section__img--big">
        <div class="news-section__item-content">
          <h3 class="news-section__subtitle subtitle">How to Build Climate Change-Resilient Infrastructure</h3>
          <div class="news-section__coments">
            <p class="news-section__coments-text">Industry News</p>
            <p class="news-section__coments-text">June 24, 2020</p>
            <p class="news-section__coments-text news-section__coments-text--img">4 comments</p>
          </div>
          <div class="news-section__text">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
            nulla. Integer bibendum turpis convallis enim, nibh convallis...
          </div>
        </div>
      </div>

      <div class="news-section__item">
        <div class="news-section__item--inner">
          <img src="img/news/news_02.svg" alt="builder builds" class="news-section__img news-section__img--small">
          <div class="news-section__item-content">
            <h3 class="news-section__subtitle subtitle">How Construction Can Help Itself</h3>
            <div class="news-section__coments">
              <p class="news-section__coments-text">Innovation</p>
              <p class="news-section__coments-text">June 12, 2020</p>
              <p class="news-section__coments-text news-section__coments-text--img">No comments</p>
            </div>
          </div>
        </div>
        <div class="news-section__item--inner">
          <img src="img/news/news_03.svg" alt="builder builds" class="news-section__img news-section__img--small">
          <div class="news-section__item-content">
            <h3 class="news-section__subtitle subtitle">Types of Flooring Materials</h3>
            <div class="news-section__coments">
              <p class="news-section__coments-text">Company News</p>
              <p class="news-section__coments-text">December 1, 2019</p>
              <p class="news-section__coments-text news-section__coments-text--img">No comments</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="portfolio-section__bot news-section__bot">
      <h2 class="portfolio-section__subtitle services-section__subtitle subtitle subtitle--big">Explore all our news
        posts
      </h2>
      <a href="" class="services-section__btn reset-btn btn btn--fill">View all news</a>
    </div>
  </div>
</section>
