<section class="news-section ">
  <div class="container">
    <h2 class="news-section__title title title--center">Recent news</h2>
    <div class="news-section__row">
      <div class="news-section__item">
        <img src="img/news/news_01.svg" alt="builder builds" class="news-section__img news-section__img--big">
        <div class="news-section__item-content">
          <h3 class="news-section__subtitle subtitle"><a class="subtitle" href="#">How to Build Climate Change-Resilient
              Infrastructure</a></h3>
          <div class="news-section__coments">
            <p class="news-section__coments-text"><a href="#">Industry News</a></p>
            <time class="news-section__coments-text" datetime="2020-06-24 19:00">June 24, 2020</time>
            <p class="news-section__coments-text news-section__coments-text--img">4 comments</p>
          </div>
          <div class="news-section__text">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
            nulla. Integer bibendum turpis convallis enim, nibh convallis...
          </div>
        </div>
      </div>

      <div class="news-section__item">
        <div class="news-section__item--inner">
          <img src="img/news/news_02.svg" alt="builder builds" class="news-section__img news-section__img--small">
          <div class="news-section__item-content">
            <h3 class="news-section__subtitle subtitle"><a class="subtitle" href="#">How Construction Can Help
                Itself</a></h3>
            <div class="news-section__coments">
              <p class="news-section__coments-text"><a href="#">Innovation</a></p>
              <time class="news-section__coments-text" datetime="2020-06-12 19:00">June 12, 2020</time>
              <p class="news-section__coments-text news-section__coments-text--img">No comments</p>
            </div>
          </div>
        </div>
        <div class="news-section__item--inner">
          <img src="img/news/news_03.svg" alt="builder builds" class="news-section__img news-section__img--small">
          <div class="news-section__item-content">
            <h3 class="news-section__subtitle subtitle"><a class="subtitle" href="#">Types of Flooring Materials</a>
            </h3>
            <div class="news-section__coments">
              <p class="news-section__coments-text"><a href="#">Company News</a></p>
              <time class="news-section__coments-text" datetime="2019-12-01 19:00">December 1, 2019</time>
              <p class="news-section__coments-text news-section__coments-text--img">No comments</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="portfolio-section__bot news-section__bot">
      <h2 class="portfolio-section__subtitle services-section__subtitle subtitle subtitle--big">Explore all our news
        posts
      </h2>
      <a href="" class="services-section__btn reset-btn btn btn--fill">View all news</a>
    </div>
  </div>
</section>
