<section class="offices">
  <div class="container">
    <h2 class="title title--center offices__title">Our offices</h2>
    <div class="descr descr--big descr--center offices__descr">Give us a call, send us a note or visit our office. We
      can’t wait to hear from you!</div>

    <div class="offices__box">
      <address class="offices__item">
        <h3 class="offices__item-subtitle subtitle subtitle--big">New York, USA</h3>
        <p class="offices__item-address">8502 Preston Rd. Inglewood, New York 98380
          <a href="" class="offices__item-link">See on the map</a>
        </p>

        <div class="offices__item-contacts">
          <a href="tel:4055550128" class="offices__item-contacts-link"><span>Call:</span>(405) 555-0128</a>
          <a href="mailto:hello@createx.com"
            class="offices__item-contacts-link"><span>Email:</span>hello@createx.com</a>
          <a href="" class="offices__item-contacts-link"><span>Schedule:</span>Mon - Fri 9:00 - 18:00</a>
        </div>
      </address>
      <address class="offices__item">
        <h3 class="offices__item-subtitle subtitle subtitle--big">New Jersey, USA</h3>
        <p class="offices__item-address">2464 Royal Ln. Mesa, New Jersey 45463
          <a href="" class="offices__item-link">See on the map</a>
        </p>

        <div class="offices__item-contacts">
          <a href="tel:8085550111" class="offices__item-contacts-link"><span>Call:</span>(808) 555-0111</a>
          <a href="mailto:hello@createx.com"
            class="offices__item-contacts-link"><span>Email:</span>hello@createx.com</a>
          <a href="" class="offices__item-contacts-link"><span>Schedule:</span>Mon - Fri 9:00 - 18:00</a>
        </div>
      </address>
      <address class="offices__item">
        <h3 class="offices__item-subtitle subtitle subtitle--big">San Francisco, USA</h3>
        <p class="offices__item-address">8502 Preston Rd. Inglewood, San Francisco 98380
          <a href="" class="offices__item-link">See on the map</a>
        </p>

        <div class="offices__item-contacts">
          <a href="tel:5055550125" class="offices__item-contacts-link"><span>Call:</span>(505) 555-0125</a>
          <a href="mailto:hello@createx.com"
            class="offices__item-contacts-link"><span>Email:</span>hello@createx.com</a>
          <a href="" class="offices__item-contacts-link"><span>Schedule:</span>Mon - Fri 10:00 - 19:00</a>
        </div>
      </address>
    </div>
  </div>
</section>