<section class="partners-about">
  <div class="container">
    <h2 class=" title title--center partners-about__title">Our partners</h2>
    <p class="descr descr--big descr--center">We are supported by 12+ industry bodies and media partners</p>
    <ul class="partners__list list-reset partners-about__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partners-logo_01.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partners-logo_02.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partners-logo_03.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partners-logo_04.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partners-logo_05.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partners-logo_06.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>
    </ul>

    <ul class="partners__list list-reset partners-about__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/page-about/partners_01.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/page-about/partners_02.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/page-about/partners_03.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/page-about/partners_04.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/page-about/partners_05.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>

      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/page-about/partners_06.svg" alt="Logo in Depth Consulting" class="partners__img">
        </a>
      </li>
    </ul>

  </div>
</section>
