<section class="portfolio-section section-offset">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="portfolio-section__title title">Browse our selected projects
        and learn more about our work</h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn  slider-btn portfolio-section__prev">
          <svg>
            <use xlink:href="img/sprite.svg#prev-btn"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn  slider-btn portfolio-section__next">
          <svg>
            <use xlink:href="img/sprite.svg#next-btn"></use>
          </svg>
        </button>
      </div>
    </div>


    <div class="swiper portfolio-section__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide portfolio-section__slide">
          <img src="img/portfolio-section_02.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Red Finger Building</h3>
          <p class="portfolio-section__slide-descr">Business Centers</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/portfolio-section_01.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Cubes Building</h3>
          <p class="portfolio-section__slide-descr">Business Centers</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/portfolio-section_03.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">The Pencil Building</h3>
          <p class="portfolio-section__slide-descr">Stores & Malls</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/portfolio-section_02.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Red Finger Building</h3>
          <p class="portfolio-section__slide-descr">Business Centers</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/portfolio-section_01.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Cubes Building</h3>
          <p class="portfolio-section__slide-descr">Business Centers</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/portfolio-section_03.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">The Pencil Building</h3>
          <p class="portfolio-section__slide-descr">Stores & Malls</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>
      </div>
    </div>

    <div class="portfolio-section__bot">
      <h2 class="portfolio-section__subtitle services-section__subtitle subtitle subtitle--big">Explore all our works
      </h2>
      <a href="" class="services-section__btn reset-btn btn btn--fill">View portfolio</a>
    </div>

  </div>
</section>
