<section class="portfolio-section section-offset portfolio-section--inner">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="portfolio-section__title title">Related projects</h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn  slider-btn portfolio-section__prev">
          <svg>
            <use xlink:href="img/sprite.svg#prev-btn"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn  slider-btn portfolio-section__next">
          <svg>
            <use xlink:href="img/sprite.svg#next-btn"></use>
          </svg>
        </button>
      </div>
    </div>


    <div class="swiper portfolio-section__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide portfolio-section__slide">
          <img src="img/page-services/portfolio-section-inner_01.svg" alt="Portfolio Cover"
            class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Kids Bedroom With Decorations</h3>
          <p class="portfolio-section__slide-descr">Apartments & flats</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/page-services/portfolio-section-inner_02.svg" alt="Portfolio Cover"
            class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Modern Double Bedroom</h3>
          <p class="portfolio-section__slide-descr">Apartments & flats</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/page-services/portfolio-section-inner_03.svg" alt="Portfolio Cover"
            class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Scandinavian Style Interior</h3>
          <p class="portfolio-section__slide-descr">Private houses</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/page-services/portfolio-section-inner_01.svg" alt="Portfolio Cover"
            class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Kids Bedroom With Decorations</h3>
          <p class="portfolio-section__slide-descr">Apartments & flats</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/page-services/portfolio-section-inner_02.svg" alt="Portfolio Cover"
            class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Modern Double Bedroom</h3>
          <p class="portfolio-section__slide-descr">Apartments & flats</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>

        <div class="swiper-slide portfolio-section__slide">
          <img src="img/page-services/portfolio-section-inner_03.svg" alt="Portfolio Cover"
            class="portfolio-section__slide-img">
          <h3 class="portfolio-section__slide-title subtitle">Scandinavian Style Interior</h3>
          <p class="portfolio-section__slide-descr">Private houses</p>
          <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
        </div>
      </div>
    </div>

    <div class="portfolio-section__bot">
      <h2 class="portfolio-section__subtitle services-section__subtitle subtitle subtitle--big">Explore all our works
      </h2>
      <a href="" class="services-section__btn reset-btn btn btn--fill">View portfolio</a>
    </div>

  </div>
</section>
