<div class="post-form">
  <h2 class="post-form__title title title--center">Leave your comment</h2>
  <form action="" class="post-form__form">
    <label class=" post-form__label">
      <span class="form__label-caption post-form__label-caption">Name*</span>
      <input type="text" name="Name" class="input-reset  post-form__input" placeholder="Your name">
    </label>
    <label class=" post-form__label">
      <span class="form__label-caption post-form__label-caption">Email*</span>
      <input type="email" name="Email" class="input-reset  post-form__input" placeholder="Your working email">
    </label>
    <label class="post-form__label post-form__label--big">
      <span class="form__label-caption post-form__label-caption">Your comment*</span>
      <textarea name="Message" class="input-reset post-form__input post-form__input--big"
        placeholder="Type comment here"></textarea>
    </label>
    <button class="btn-reset form__btn post-form__btn btn btn--fill" type="submit">Post comment</button>
  </form>
</div>