<section class="pricing">
  <img src="img/page-services/pricing_bg.png" alt="" class="pricing__bg" aria-label="hiden">
  <div class="container">
    <h2 class="title title--center">Pricing</h2>
    <p class="descr descr--center descr--big">We offer you three categories of construction.</p>
    <div class="table-wrapper">
      <table class="pricing__table table">
        <caption class="visually-hidden">Tariffs table</caption>

        <thead class="table__thead">
          <tr class="table__row">
            <th class="table__th">Items</th>
            <th class="table__th">Basic <span>$20 per m2</span class="table__check"></th>
            <th class="table__th">Standard <span>$30 per m2</span class="table__check"></th>
            <th class="table__th">Business <span>$40 per m2</span class="table__check"></th>
          </tr>
        </thead>

        <tbody class="table__tbody">

          <tr class="table__row">
            <td class="table__col">Installation plan</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Planning solutions (2-3 options)</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Lighting plan</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Flooring plan</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Heating floor laying scheme</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Air conditioner zones layout</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">3D visualization of all rooms</td>
            <td class="table__col">simplified</td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Visualization of each room (3-4 angles)</td>
            <td class="table__col"></td>
            <td class="table__col"></td>
            <td class="table__col"><span class="table__check">Available</span class="table__check"></td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Terms</td>
            <td class="table__col">10 days</td>
            <td class="table__col">20 days</td>
            <td class="table__col">30 days</td>
          </tr>
          <tr class="table__row">
            <td class="table__col"></td>
            <td class="table__col">
              <a href="$" class="table__col-btn btn btn-reset btn--stroke-primary">send request</a>
            </td>
            <td class="table__col">
              <a href="$" class="table__col-btn btn btn-reset btn--stroke-primary">send request</a>
            </td>
            <td class="table__col">
              <a href="$" class="table__col-btn btn btn-reset btn--stroke-primary">send request</a>
            </td>

          </tr>

        </tbody>
      </table>
    </div>



  </div>
  @include('partners.html')
</section>
