<section class="projectgoal">
  <div class="container projectgoal__container">
    <div class="projectgoal__item">
      <h2 class="title projectgoal__title">Project goal</h2>
      <div class="projectgoal__descr descr descr--big">
        <p>Build a private house 840 sq. feet with a large living room, three bedrooms, two bathrooms, a terrace, a pool
          and a garage for two cars.
        </p>
        <p>
          Modern design and care for each family member to feel as comfortable as possible in the new home.
        </p>
      </div>
    </div>

    <div class="projectgoal__item">

      <ul class="list-reset projectgoal__list projectgoal__list--right">
        <li class="projectgoal__list-item">
          <div class="projectgoal__list-category">Location</div>
          <address class="projectgoal__list-value">2464 Royal Ln. Mesa, New Jersey</address>
        </li>
        <li class="projectgoal__list-item">
          <div class="projectgoal__list-category">Client</div>
          <div class="projectgoal__list-value">Darlene Robertson</div>
        </li>
        <li class="projectgoal__list-item">
          <div class="projectgoal__list-category">Architect</div>
          <div class="projectgoal__list-value">HIK Architecture</div>
        </li>
        <li class="projectgoal__list-item">
          <div class="projectgoal__list-category">Size</div>
          <div class="projectgoal__list-value">840 sq. feet</div>
        </li>
        <li class="projectgoal__list-item">
          <div class="projectgoal__list-category">Value</div>
          <div class="projectgoal__list-value">$2 million</div>
        </li>
        <li class="projectgoal__list-item">
          <div class="projectgoal__list-category">Completed</div>
          <date class="projectgoal__list-value" datetime="2020-05">May 2020</date>
        </li>
      </ul>
    </div>

  </div>
</section>
