<section class="quote">
  <div class="container quote__container">
    <div class="quote__img">
      <img src="img/page-about/quote_01.jpg" alt="" aria-hidden="false">
    </div>

    <div class="quote__content">
      <div class="quote__descr main-descr main-descr--bold">
        <p>
          Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed
          quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi.
          Odio massa purus vel praesent arcu enim elit felis viverra.
        </p>
        <p>
          Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet
          suspendisse faucibus tempor ipsum integer.
        </p>

      </div>
      <div class="quote__signature">
        <div class="quote__signature-name">Courtney Alexander <span>CEO - Createx Construction Bureau </span></div>
        <div class="quote__signature-img">
          <img src="img/page-about/signature.svg" alt="signature">
        </div>
      </div>

    </div>

  </div>
</section>
