<section class="scheme ">
  <div class="container">
    <h2 class="scheme__title title">That’s how we do it</h2>
    <div class="scheme__content">
      <div class="scheme__content-item">
        <div class="scheme__content-num">01</div>
        <h3 class="scheme__content-title subtitle">Work Estimate</h3>
        <p class="scheme__content-descr descr descr--small">Culpa nostrud commodo ea consequat aliquip reprehenderit.
        </p>
      </div>
      <div class="scheme__content-item">
        <div class="scheme__content-num">02</div>
        <h3 class="scheme__content-title subtitle">Contract</h3>
        <p class="scheme__content-descr descr descr--small">Laoreet ultrices curabitur luctus quisque consequat. Leo
          lorem velit imperdiet auctor et tempor.
        </p>
      </div>
      <div class="scheme__content-item">
        <div class="scheme__content-num">03</div>
        <h3 class="scheme__content-title subtitle">Mobilization </h3>
        <p class="scheme__content-descr descr descr--small">Odio massa scelerisque purus arcu sed velit eleifend cursus
          leo.
        </p>
      </div>
      <div class="scheme__content-item">
        <div class="scheme__content-num">04</div>
        <h3 class="scheme__content-title subtitle">Construction Work</h3>
        <p class="scheme__content-descr descr descr--small">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod
          dolore dolore et <br> ad et veniam ad deserunt.
        </p>
      </div>
    </div>
  </div>
</section>
