<section class="services-section section-offset">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="descr descr--center descr--big">Createx Construction Bureau is a construction giant with a full range of
      construction services.</p>

    <ul class="services-list list-reset">
      <li class="services-item">
        <a class="services-link" href="#" target="_blank">
          <svg class="services-link__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_01"></use>
          </svg>
          <h3 class="services-link__subtitle subtitle subtitle--center">Construction</h3>
        </a>
      </li>

      <li class="services-item">
        <a class="services-link" href="#" target="_blank">
          <svg class="services-link__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_02"></use>
          </svg>
          <h3 class="services-link__subtitle subtitle subtitle--center">Project Development</h3>
        </a>
      </li>

      <li class="services-item">
        <a class="services-link" href="#" target="_blank">
          <svg class="services-link__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_03"></use>
          </svg>
          <h3 class="services-link__subtitle subtitle subtitle--center">Interior Design</h3>
        </a>
      </li>

      <li class="services-item">
        <a class="services-link" href="#" target="_blank">
          <svg class="services-link__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_04"></use>
          </svg>
          <h3 class="services-link__subtitle subtitle subtitle--center">Repairs</h3>
        </a>
      </li>

    </ul>
    <div class="services-section__more">
      <h2 class="services-section__subtitle subtitle subtitle--big">Learn more about our services</h2>
      <a href="" class="services-section__btn reset-btn btn btn--fill">View services</a>
    </div>
  </div>
</section>
