<section class="services-block">
  <div class="container">
    <div class="services-block__tabs">

      <div class="services-block__item">
        <button class="services-block__btn btn-reset active" data-path="all">
          <svg class="services-block__img main-svg">
            <use xlink:href="img/sprite.svg#ic-house"></use>
          </svg>
          <div class="services-block__descr">All Projects</div>
        </button>
      </div>

      <div class="services-block__item">
        <button class="services-block__btn btn-reset" data-path="constr">
          <svg class="services-block__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_01"></use>
          </svg>
          <div class="services-block__descr">Construction</div>
        </button>
      </div>

      <div class="services-block__item">
        <button class="services-block__btn btn-reset" data-path="dev">
          <svg class="services-block__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_02"></use>
          </svg>
          <div class="services-block__descr">Project Development</div>
        </button>
      </div>

      <div class="services-block__item">
        <button class="services-block__btn btn-reset" data-path="design">
          <svg class="services-block__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_03"></use>
          </svg>
          <div class="services-block__descr">Interior Design</div>
        </button>
      </div>

      <div class="services-block__item">
        <button class="services-block__btn btn-reset" data-path="repair">
          <svg class="services-block__img main-svg">
            <use xlink:href="img/sprite.svg#services-section_04"></use>
          </svg>
          <div class="services-block__descr">Repairs</div>
        </button>
      </div>

    </div>
  </div>
</section>
