<section class="services-content section-offset">
  <img src="img/page-services/services-content-bg_01.png" alt="" aria-hidden="true"
    class="services-content__bg services-content__bg--top">
  <img src="img/page-services/services-content-bg_02.png" alt="" aria-hidden="true"
    class="services-content__bg services-content__bg--bot">
  <div class="container services-content__container">
    <div class="services-content__item">
      <img src="img/page-services/services-content_01.jpg" alt="" class="services-content__img">
      <div class="services-content__content">
        <h2 class="services-content__content-title subtitle subtitle--large">Construction</h2>
        <p class="services-content__content-descr descr descr--small">Sapien, feugiat faucibus orci arcu, vulputate.
          Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut
          ut
          augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum.
        </p>
        <a href="" class="services-content__content-btn btn reset-btn btn--stroke-primary">Learn more</a>
      </div>
    </div>
    <div class="services-content__item">
      <div class="services-content__content">
        <h2 class="services-content__content-title subtitle subtitle--large">Project Development</h2>
        <p class="services-content__content-descr descr descr--small">Volutpat tellus mauris sit sit. Posuere ut sit
          vestibulum amet viverra in. Est <br> nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum
          blandit massa vitae amet felis eget.
        </p>
        <a href="" class="services-content__content-btn btn reset-btn btn--stroke-primary">Learn more</a>
      </div>
      <img src="img/page-services/services-content_02.jpg" alt="" class="services-content__img">

    </div>
    <div class="services-content__item">
      <img src="img/page-services/services-content_03.jpg" alt="" class="services-content__img">
      <div class="services-content__content">
        <h2 class="services-content__content-title subtitle subtitle--large">Interior Design</h2>
        <p class="services-content__content-descr descr descr--small">Eleifend orci massa et facilisis orci feugiat ac.
          Congue in ut lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas
          lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu
          dictum metus sed purus senectus faucibus eget elementum pretium.
        </p>
        <a href="services-inner.html" class="services-content__content-btn btn reset-btn btn--stroke-primary">Learn
          more</a>
      </div>
    </div>
    <div class="services-content__item">
      <div class="services-content__content">
        <h2 class="services-content__content-title subtitle subtitle--large">Repairs</h2>
        <p class="services-content__content-descr descr descr--small">Facilisis cursus feugiat sit pulvinar amet. Ac
          facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra
          nec urna ultrices urna.
        </p>
        <a href="" class="services-content__content-btn reset-btn btn  btn--stroke-primary">Learn more</a>
      </div>
      <img src="img/page-services/services-content_04.jpg" alt="" class="services-content__img">

    </div>


  </div>
</section>
