<section class="services-block">
  <div class="container services-block__container">
    <div class="services-block__item">
      <svg class="services-block__img main-svg">
        <use xlink:href="img/sprite.svg#ic-house"></use>
      </svg>
      <div class="services-block__descr">All Projects</div>
    </div>
    <div class="services-block__item">
      <svg class="services-block__img main-svg">
        <use xlink:href="img/sprite.svg#services-section_01"></use>
      </svg>
      <div class="services-block__descr">Construction</div>
    </div>
    <div class="services-block__item">
      <svg class="services-block__img main-svg">
        <use xlink:href="img/sprite.svg#services-section_02"></use>
      </svg>
      <div class="services-block__descr">Project Development</div>
    </div>
    <div class="services-block__item">
      <svg class="services-block__img main-svg">
        <use xlink:href="img/sprite.svg#services-section_03"></use>
      </svg>
      <div class="services-block__descr">Interior Design</div>
    </div>
    <div class="services-block__item">
      <svg class="services-block__img main-svg">
        <use xlink:href="img/sprite.svg#services-section_04"></use>
      </svg>
      <div class="services-block__descr">Repairs</div>
    </div>

  </div>
</section>
