<section class="stats">
  <div class="container stats__container">
    <div class="stats__item">
      <svg class="stats__item-img main-svg">
        <use xlink:href="img/sprite.svg#mission_01"></use>
      </svg>
      <h2 class="stats__item-title title title--primary">60%</h2>
      <p class="stats__item-descr">
        Clients on the recommendation of friends
      </p>
    </div>
    <div class="stats__item">
      <svg class="stats__item-img main-svg">
        <use xlink:href="img/sprite.svg#services-section_04"></use>
      </svg>
      <h2 class="stats__item-title title title--primary">2400+</h2>
      <p class="stats__item-descr">
        Apartments renovated
      </p>
    </div>
    <div class="stats__item">
      <svg class="stats__item-img main-svg">
        <use xlink:href="img/sprite.svg#mission-dark-decor_02"></use>
      </svg>
      <h2 class="stats__item-title title title--primary">670</h2>
      <p class="stats__item-descr">
        Qualified specialists
      </p>
    </div>
    <div class="stats__item">
      <svg class="stats__item-img main-svg">
        <use xlink:href="img/sprite.svg#services-section_03"></use>
      </svg>
      <h2 class="stats__item-title title title--primary">150000+ m<sup>2</sup></h2>
      <p class="stats__item-descr">
        Finishing work was carried out
      </p>
    </div>
  </div>
</section>
