<section class="testimonials">
  <div class="container testimonials__container">


    <div class="testimonials__content">
      <h2 class="title testimonials__title">What our clients are saying</h2>

      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials__slider-img">
              <img src="img/testimonials_01.png" alt="Client's photo">
            </div>

            <p class="testimonials__descr descr descr--small">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
              consequat
              minim <span>laboris cillum laboris voluptate minim</span> proident exercitation ullamco.
            </p>
            <p class="testimonials__name">Shawn Edwards <span>Position, Company name</span></p>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slider-img">
              <img src="img/testimonials_01.png" alt="Client's photo">
            </div>

            <p class="testimonials__descr descr descr--small">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
              consequat
              minim <span>laboris cillum laboris voluptate minim</span> proident exercitation ullamco.
            </p>
            <p class="testimonials__name">Shawn Edwards <span>Position, Company name</span></p>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slider-img">
              <img src="img/testimonials_01.png" alt="Client's photo">
            </div>

            <p class="testimonials__descr descr descr--small">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
              consequat
              minim <span>laboris cillum laboris voluptate minim</span> proident exercitation ullamco.
            </p>
            <p class="testimonials__name">Shawn Edwards <span>Position, Company name</span></p>
          </div>
        </div>
        <div class="slider-nav testimonials__slider-nav">
          <button class="btn-reset slider-nav__btn  slider-btn testimonials-section__prev">
            <svg>
              <use xlink:href="img/sprite.svg#prev-btn"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn  slider-btn testimonials-section__next">
            <svg>
              <use xlink:href="img/sprite.svg#next-btn"></use>
            </svg>
          </button>
        </div>
      </div>



    </div>

    <img src="img/testimonials_02.jpg" alt="" class="testimonials__img">



  </div>
</section>
