<section class="work-content">
  <div class="container work-content__container">

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_01.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Cubes Building</h3>
      <p class="portfolio-section__slide-descr">Business Centers</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_02.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Modern Cottage</h3>
      <p class="portfolio-section__slide-descr">Private houses</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_03.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Luxury Beach House</h3>
      <p class="portfolio-section__slide-descr">Private houses</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_04.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Modern Double Bedroom</h3>
      <p class="portfolio-section__slide-descr">Apartments & flats</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_05.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Kids Bedroom With Decorations</h3>
      <p class="portfolio-section__slide-descr">Apartments & flats</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_06.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">The Pencil Building</h3>
      <p class="portfolio-section__slide-descr">Stores & Malls</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_07.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Red Finger Building</h3>
      <p class="portfolio-section__slide-descr">Business Centers</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_08.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Scandinavian Style Interior</h3>
      <p class="portfolio-section__slide-descr">Private houses</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>

    <div class="portfolio-section__slide work-content__item">
      <img src="img/page-work/work-content_09.svg" alt="Portfolio Cover" class="portfolio-section__slide-img">
      <h3 class="portfolio-section__slide-title subtitle">Brown and Gray Painted House</h3>
      <p class="portfolio-section__slide-descr">Private houses</p>
      <a href="#" class="portfolio-section__slide-btn btn-reset btn btn--stroke-light">View Project</a>
    </div>


  </div>
  <a href="#" class="load-more "><span></span>Load more</a>
</section>
